<div class="col-md-4 offset-md-4">
  <div *ngIf="backendType !== 'FIRESTORE'" class="alert alert-primary">
    Promos are supported only with Firebase backend so far
  </div>
  <form *ngIf="backendType === 'FIRESTORE'">
    <div class="form-group">
      <label for="percentage">Percentage</label>
      <div class="input-group">
        <input type="number" class="form-control" id="percentage" name="percentage" placeholder="Percentage"
               [(ngModel)]="percentage">
        <div class="input-group-append">
          <span class="input-group-text">%</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="duration">Duration</label>
      <div class="input-group">
        <input type="number" class="form-control" id="duration" name="duration" placeholder="Duration"
               [(ngModel)]="duration">
        <div class="input-group-append">
          <span class="input-group-text">minutes</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="product">Product</label>
      <ng-select id="product" name="product" placeholder="Choose product" [items]="products"
                 [multiple]="false" bindLabel="name" [(ngModel)]="selectedProduct">
      </ng-select>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>
</div>
