<div class="jumbotron col-md-4 offset-md-4">
  <form [formGroup]="authForm">
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
    </div>
    <div class="btn-group d-flex">
      <button class="btn btn-primary w-100" (click)="onLogin()">Login</button>
      <button class="btn btn-success w-100" (click)="onRegister()">Register</button>
    </div>
  </form>
</div>
