<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="authenticated">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
          aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/products'">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/orders'" *ngIf="isAdminOrEmployee()">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/configuration'" *ngIf="isAdmin()">Configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/promo'" *ngIf="isAdminOrEmployee()">Promo</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/cart'">
          <i class="fas fa-shopping-cart"></i>
          <small class="text-muted"> {{getCartState()}}</small>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/auth'" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
