<div class="col-md-4 offset-md-4">
  <form [formGroup]="productForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" placeholder="Enter price" formControlName="price">
    </div>
    <div class="form-group">
      <label for="numberOfProducts">Number of products</label>
      <input type="number" class="form-control" id="numberOfProducts" placeholder="Enter numbre of products"
             formControlName="numberOfProducts">
    </div>
    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <input type="text" class="form-control" id="imageUrl" placeholder="Enter image URL" formControlName="imageUrl">
    </div>
    <div class="form-group">
      <label for="categories">Categories</label>
      <ng-select id="categories" placeholder="Enter categories" formControlName="categories" [items]="[]"
                 [addTag]="true" [multiple]="true" [isOpen]="false">
      </ng-select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" placeholder="Enter description"
                formControlName="description"></textarea>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-primary" (click)="submit()">Save</button>
      <button class="btn btn-secondary" (click)="reset()">Reset</button>
    </div>
  </form>
</div>
