<div *ngIf="orders.length === 0" class="alert alert-primary col-md-4 offset-md-4" role="alert">
  No orders
</div>
<div *ngIf="orders.length !== 0" class="row">
  <div class="col-md-8 table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Address</th>
        <th>Recipient</th>
        <th>Items</th>
        <th>Total value</th>
        <th>
          <ng-select [items]="orderStatuses"
                     placeholder="Status"
                     [multiple]="true"
                     [(ngModel)]="selectedStatuses">
          </ng-select>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders | orderStatusFilter: selectedStatuses" class="clickable"
          (click)="onSelectOrder(order)"
          [ngClass]="{'table-success': isOrderCompleted(order), 'table-warning': isOrderInProgress(order), 'table-active': order === selectedOrder}">
        <td>{{order.id}}</td>
        <td>{{order.address}}</td>
        <td>{{order.recipient}}</td>
        <td>{{order.items.length}}</td>
        <td>{{order.totalValue}} PLN</td>
        <td>{{getFormattedOrderStatus(order)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <div *ngIf="selectedOrder === null" class="alert alert-primary">
      Select your order to show it's details
    </div>
    <div *ngIf="selectedOrder !== null">
      <app-order-details [order]="selectedOrder"></app-order-details>
    </div>
  </div>
</div>
