<div class="col-md-4 offset-md-4">
  <form [formGroup]="orderForm">
    <div class="form-group">
      <label for="recipient">Recipient</label>
      <input type="text" class="form-control" id="recipient" aria-describedby="recipientHelp" placeholder="Recipient"
             formControlName="recipient">
      <small id="recipientHelp" class="form-text text-muted">Provide recipient's first name and last name</small>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" aria-describedby="addressHelp" placeholder="Address"
             formControlName="address">
      <small id="addressHelp" class="form-text text-muted">Provide delivery address</small>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>
</div>
