<div *ngIf="getProductsInCart().length === 0" class="alert alert-primary col-md-4 offset-md-4" role="alert">
  No products in your cart
</div>
<div *ngIf="getProductsInCart().length !== 0" class="col-md-6 offset-md-3">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">Number of items</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cartEntry of getProductsInCart()">
      <td>{{cartEntry.numberOfOccurrences}}</td>
      <td>{{cartEntry.product.name}}</td>
      <td>{{cartEntry.product.price}} PLN</td>
      <td>{{cartEntry.product.price * cartEntry.numberOfOccurrences}} PLN</td>
      <td>
        <button class="btn btn-danger" (click)="removeFromCart(cartEntry.product.id)">Remove</button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td><b>{{getNumberOfProductsInCart()}} item(s)</b></td>
      <td></td>
      <td></td>
      <td><b>{{getCartTotalValue()}} PLN</b></td>
      <td></td>
    </tr>
    </tfoot>
  </table>
  <div class="btn-group float-right" role="group">
    <a type="button" class="btn btn-primary" [routerLink]="'/products'">Continue shopping</a>
    <a type="button" class="btn btn-success" [routerLink]="'/new-order'">Order</a>
  </div>
</div>
