<div class="col-md-4 offset-md-4">
  <div class="form-group">
    <label for="backendType">Backend type</label>
    <ng-select id="backendType" [items]="availableBackendTypes" [multiple]="false" [clearable]="false"
               placeholder="Select backend type" [(ngModel)]="backendType">
    </ng-select>
  </div>
  <button class="btn btn-primary btn-block" (click)="save()">Save</button>
</div>
