<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <a class="btn btn-primary btn-block" *ngIf="isAdmin()" [routerLink]="'/products/0'">New product</a>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText"/>
    </div>
    <div class="form-group">
      <ng-select [items]="availableCategories"
                 [multiple]="true"
                 placeholder="Select categories"
                 [(ngModel)]="selectedCategories">
      </ng-select>
    </div>
    <div class="form-group">
      <ng5-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="sliderOptions"></ng5-slider>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <app-product [product]="p" [cheap]="p.price === minPrice" [expensive]="p.price === maxPrice"
                     [promo]="getPromoForProduct(p)" (deleteProductEvent)="handleDeleteProductEvent()"
                     *ngFor="let p of products | minPriceFilter: minPrice | maxPriceFilter: maxPrice | categoryFilter: selectedCategories | textFilter: searchText | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        </app-product>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <ng-select [items]="availableItemsPerPageValues"
                   [clearable]="false"
                   placeholder="Items per page"
                   [(ngModel)]="itemsPerPage">
        </ng-select>
      </div>
      <div class="col-md-9">
        <pagination-controls (pageChange)="handlePageChangeEvent($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>
