<div class="row product" [ngClass]="{'product-cheap': cheap, 'product-expensive': expensive}">
  <div class="col-md-4 no-side-padding">
    <img src="{{product.imageUrl}}" class="thumbnail">
  </div>
  <div class="col-md-4">
    <h5>
      {{product.name}}
      <span class="badge badge-success" *ngIf="hasPromo()">Promo product!</span>
    </h5>
    <p>
      {{getProductPrice()}} PLN {{hasPromo() ? '(-' + promo.percentage + '%)' : ''}}
      <i class="fas fa-cart-plus fa-2x clickable mr-2" (click)="addToCart()" *ngIf="product.numberOfProducts !== 0"></i>
      <i class="fas fa-trash-alt fa-2x clickable mr-2" *ngIf="isAdmin()" (click)="deleteProduct()"></i>
      <i class="fas fa-edit fa-2x clickable mr-2" *ngIf="isAdmin()" [routerLink]="['/products/', product.id]"></i>
    </p>
    <p>
      {{product.numberOfProducts === 0 ? 'No products left' : product.numberOfProducts + ' item(s)'}}
    </p>
  </div>
  <div class="col-md-4">
    <p>{{product.description}}</p>
  </div>
</div>
