.thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product {
  box-shadow: 0 0 20px lightgrey;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2vh;
  transition: box-shadow 1s;
}

.product-cheap {
  box-shadow: 0 0 20px green;
}

.product-expensive {
  box-shadow: 0 0 20px red;
}

.product:hover {
  box-shadow: 0 0 25px yellow;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.fas {
  transition: color 1s;
}

.fa-trash-alt:hover {
  color: red;
}

.fa-cart-plus:hover {
  color: green;
}

.fa-edit:hover {
  color: dodgerblue;
}
