<h2>{{order.recipient + ', ' + order.address}}</h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Product ID</th>
      <th>Product name</th>
      <th>Number of items</th>
      <th>
        <button class="btn" [disabled]="areAllOrderItemsCollected()" (click)="collectAllOrderItems()"
                [ngClass]="{'btn-primary': !areAllOrderItemsCollected(), 'btn-secondary': areAllOrderItemsCollected()}">
          {{areAllOrderItemsCollected() ? 'Collected' : 'Collect all'}}
        </button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let orderItem of order.items">
      <td>{{orderItem.productId}}</td>
      <td>{{getProductName(orderItem.productId)}}</td>
      <td>{{orderItem.numberOfOccurrences}}</td>
      <td>
        <button class="btn" [disabled]="orderItem.collected" (click)="collectOrderItem(orderItem)"
                [ngClass]="{'btn-primary': !orderItem.collected, 'btn-secondary': orderItem.collected}">
          {{orderItem.collected ? 'Collected' : 'Collect'}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<button class="btn btn-block" [disabled]="order.completionDate || !areAllOrderItemsCollected()"
        (click)="completeOrder()"
        [ngClass]="{'btn-primary': !order.completionDate, 'btn-secondary': order.completionDate}">
  {{order.completionDate ? 'Completed' : 'Complete'}}
</button>
